<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Error</title>
    <!-- Adicione os links para os arquivos de estilo do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h3 class="text-center">Erro de Login</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center text-danger">Usuário ou senha incorretos. Por favor, tente novamente.</p>
                        <div class="text-center">
                            <a href="/login" class="btn btn-danger">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
